[submodule "mxml"]
	path = mxml
	url = git@github.com:venturemedia/mxml.git
[submodule "Libraries/AIImageCompare"]
	path = Libraries/AIImageCompare
	url = https://github.com/aleph7/AIImageCompare.git
[submodule "Libraries/mxml"]
	path = Libraries/mxml
	url = https://github.com/venturemedia/mxml.git
[submodule "AIImageCompare"]
	path = AIImageCompare
	url = git@github.com:aleph7/AIImageCompare
[submodule "Submodules/mxml"]
	path = Submodules/mxml
	url = git@github.com:venturemedia/mxml.git
[submodule "Submodules/AIImageCompare"]
	path = Submodules/AIImageCompare
	url = git@github.com:aleph7/AIImageCompare
